<div class="d-flex justify-content-end p-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Inicio matriz</li>
        </ol>
    </nav>
</div>

<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center" id="alert_success">
                <div class="card-body">
                    <h6>Bienvenido/a, {{user.nombre_persona}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4 class="text-center text-light bg-dark col-md-3 mx-auto p-1 rounded-pill"><i
            class="fas fa-chart-pie fa-sm fa-fw text-primary"></i>Dashboard</h4>
</div>
<br>

<div class="container-fluid">
    <a class="btn btn-success rounded-0 col-md-3 mx-auto btn_agregar p-2" href="/forms/form_hallazgos"><i class="fas fa-plus-circle fa-fw"></i>Agregar nuevo hallazgo</a>
    {{!--<button class="btn btn-success rounded-0 text-center mx-auto btn_agregar" data-toggle="modal"
    data-target="#ModalAgregarHallazgo"><i class="fas fa-plus-circle fa-fw"></i>Agregar nuevo hallazgo</button> --}}
    <div class="row p-3 d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card rounded-0 card_dashboard">
                <div class="text-center text-primary">
                    <i class="fas fa-table fa-5x p-2"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Tabla de indicadores</h5>
                </div>
                <div class="d-grid gap-2">
                    <a href="/dashboard/charts/TablaIndicadores" class="btn btn-dark btn-block rounded-0 text-light">Observar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 card_dashboard">
                <div class="text-center text-success">
                    <i class="fas fa-calendar-alt fa-5x p-2"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Planes por mes</h5>
                </div>
                <div class="d-grid gap-2">
                    <a href="/dashboard/charts/PlanesMes" class="btn btn-dark btn-block rounded-0 text-light">Observar</a>
                </div>
            </div>
        </div>
                <div class="col-md-4">
            <div class="card rounded-0 card_dashboard">
                <div class="text-center text-danger">
                    <i class="fas fa-exclamation-circle fa-5x p-2"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center ">Planes por factor de riesgo</h5>
                </div>
                <div class="d-grid gap-2">
                    <a href="/dashboard/charts/PlanesFR" class="btn btn-dark btn-block rounded-0 text-light">Observar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3 d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card rounded-0 card_dashboard">
                <div class="text-center text-primary">
                    <i class="fas fa-business-time fa-5x p-2"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Planes por prioridad</h5>
                </div>
                <div class="d-grid gap-2">
                    <a href="/dashboard/charts/PlanesPrioridad" class="btn btn-dark btn-block rounded-0 text-light">Observar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 card_dashboard">
                <div class="text-center text-success">
                    <i class="fas fa-battery-half fa-5x p-2"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center ">Estado del plan</h5>
                </div>
                <div class="d-grid gap-2">
                    <a href="/dashboard/charts/EstadoPlan" class="btn btn-dark btn-block rounded-0 text-light">Observar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 card_dashboard">
                <div class="text-center text-danger">
                    <i class="fas fa-map-marker-alt fa-5x p-2"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center ">Planes por área</h5>
                </div>
                <div class="d-grid gap-2">
                    <a href="/dashboard/charts/PlanesArea" class="btn btn-dark btn-block rounded-0 text-light">Observar</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modals}}