<div class="d-flex justify-content-end p-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio matriz</a></li>
            <li class="breadcrumb-item">Gráfico de planes por área</li>
        </ol>
    </nav>
</div>

<div class="container container_indicadores">
    <br>
    <h4 class="text-center text-light bg-dark col-md-3 mx-auto p-1 rounded-pill"><i
            class="fas fa-map-marker-alt fa-sm fa-fw text-primary"></i>Por áreas</h4>
    <br>
    <br>
    <div class="input-group col-md-5 mx-auto">
        <span class="input-group-text bg-transparent borderless_hallazgos text-primary">
            <i class="fas fa-building"></i>
        </span>
        <select class="custom-select borderless_hallazgos text-primary" id="SelectChartAreas">
            <option disabled selected>Seleccione una sede</option>
            {{#each sedes}}
            <option value="{{id_sede}}">{{nombre_sede}}</option>
            {{/each}}
            <option value="MostrarTodasAreas">MOSTRAR TODAS</option>
        </select>
    </div>
    <br>
    <div class="col-md-10 mx-auto ChartStyles">
        <canvas id="ChartAreas"></canvas>
    </div>
    <br>

</div>