<div class="d-flex justify-content-end p-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio matriz</a></li>
            <li class="breadcrumb-item">Tabla historial de cambios de estado</li>
        </ol>
    </nav>
</div>

<div class="container">
    <h4 class="text-center text-light bg-dark col-md-5 mx-auto p-1 rounded-pill"><i class="fas fa-history fa-sm fa-fw text-primary"></i>
        Historial de cambios de estado
    </h4>
</div>
<br>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="table-responsive col-md-10">
            <table class="table table-hover table-striped dt-responsive nowrap cell-border text-center" id="table_matriz">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre del hallazgo</th>
                        <th>Nuevo estado</th>
                        <th>Razón del cambio</th>
                        <th>Fecha del cambio</th>
                        <th>Fecha final de ejecución</th>
                        <th>Nuevo registro fotográfico</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cambio_estado}}
                    <tr>
                        <td></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>