<div class="d-flex justify-content-end p-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio matriz</a></li>
            <li class="breadcrumb-item">Tabla factores de riesgo</li>
        </ol>
    </nav>
</div>

<h4 class="text-center">Listado de los factores de riesgo</h4>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="table-responsive col-md-8">
            <div class="d-flex justify-content-start mr-4">
                <button type="button" class=" btn btn-success rounded-0" data-bs-toggle="modal"
                    data-bs-target="#ModalAgregarFactor">
                    <i class="fas fa-plus-circle fa-fw"></i>Agregar nuevo factor de riesgo
                </button>
            </div>
            <table class="table table-hover table-striped align-middle text-center dt-responsive nowrap row-border" id="table_matriz">
                <thead class="bg-dark text-light">
                    <tr>
                        <th scope="col" title="Identificador" data-toggle="tooltip">ID</th>
                        <th scope="col">Nombre del factor de riesgo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3">No hay datos para mostrar en esta tabla</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> modals}}