* {
    scrollbar-width: thin;
    scrollbar-color: rgb(55, 55, 71) rgb(0, 0, 0);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(55, 55, 71);
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0);
  }

hr {
    color: rgb(255, 255, 255);
}

.closebtn {
    padding: 0px;
}

a .menu_open {
    transition: 0.1s;
}

a .menu_open:hover {
    border-bottom: 2px solid rgb(62, 142, 196);
    ;
    transition: 0.1s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(33, 38, 44);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    box-shadow: 2px 2px 5px #000;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 1em;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ffffff;
    background-color: rgba(48, 56, 77, 0.603);
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.322);
    font-size: 17.7px;
}
.sidenav a:hover > .sidenav a i {
    color: red;
}
.sidenav a i{
    margin-right: 0.4em;
}

.sidenav .closebtn {
    position: absolute;
    margin-top: -1.9em;
    right: 10px;
    font-size: 36px;
}

.sidenav .closebtn:hover {
    background-color: rgba(0, 0, 255, 0);
    color: #426b99;
    box-shadow: 0px 0px;
    font-size: 36px;
}

.sidenav .h4_title {
    margin-top: -1em;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.dropdown .dropdown-item{
    color: #fff;
    transition: 0.3s;
}

.dropdown .dropdown-item:hover{
    background-color: rgb(30, 38, 48);
    transition: 0.3s;
}

.dropdown .dropdown-menu i{
    margin-left: 0.5em;
}

.dropdown .dropdown-menu{
    margin-left: -1em;
    background-color: rgb(26, 26, 26);
    font-size: 15px;
}

td .btn_tables_editar i,
td .btn_tables_eliminar i {
    width: 21px;
    text-align: center;
}

td .btn_tables_editar:hover {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.418);
}

td .btn_tables_eliminar:hover {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.418);
}

.btn_agregar{
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.637);
    transition: 0.3s;
}

.btn_agregar:hover{
    box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.637);
    background-color: #198754;
}

label,
div .form-check,
div .btns {
    margin-top: 1.5em;
}

.form-check-label {
    margin-top: 0em;
}

.input-group input,
.form-group select,
.input-group span {
    border-radius: 0;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.card {
    box-shadow: -2px -2px 25px rgba(0, 0, 0, 0.164);
}

.card_dashboard{
    background-color: rgba(0, 0, 0, 0.075);
    border: 4px solid rgba(97, 97, 97, 0.24);
}

.container_login {
    box-shadow: -2px -2px 25px rgba(0, 0, 0, 0.164);
    height: 22em;
    margin-top: 8em;
}

.input-group input:focus {
    border-bottom: 2px solid rgb(62, 109, 196);
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

form .error{
    color: rgb(211, 0, 0);
    width: 100%;
    margin-top: 0.3em;
}