* {
    scrollbar-width: thin;
    scrollbar-color: rgba(206, 206, 206, 0.637) rgb(33, 38, 44);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(33, 38, 44);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(206, 206, 206, 0.637);
    border-radius: 20px;
  }

hr {
    color: rgb(255, 255, 255);
}

.closebtn {
    padding: 0px;
}

a .menu_open {
    transition: 0.1s;
}

a .menu_open:hover {
    border-bottom: 2px solid rgb(62, 142, 196);
    ;
    transition: 0.1s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(33, 38, 44);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    box-shadow: 2px 2px 5px #000;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 1em;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #ffffff;
    background-color: rgba(48, 56, 77, 0.603);
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.322);
    font-size: 17.7px;
}
.sidenav a:hover > .sidenav a i {
    color: red;
}
.sidenav a i{
    margin-right: 0.4em;
}

.sidenav .closebtn{
    text-align: right;
    margin-top: -0.5em;
    left: 10px;
    font-size: 36px;
}

.sidenav .span_closebtn{
    width: 50%;
}

.sidenav .closebtn:hover {
    background-color: rgba(0, 0, 255, 0);
    color: #426b99;
    box-shadow: 0px 0px;
    font-size: 36px;
}

.sidenav .h4_title {
    margin-top: -1em;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

nav .breadcrumb{
    margin-top: 3.5em;
    background-color: rgba(0, 0, 0, 0.048);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.dropdown .dropdown-item{
    color: #fff;
    transition: 0.3s;
}

.dropdown .dropdown-item:hover{
    background-color: rgb(30, 38, 48);
    transition: 0.3s;
}

.dropdown .dropdown-menu i{
    margin-left: 0.5em;
}

.dropdown .dropdown-menu{
    margin-left: -1em;
    background-color: rgb(26, 26, 26);
    font-size: 15px;
}

td .btn_tables_editar i,
td .btn_tables_eliminar i {
    width: 21px;
    text-align: center;
    transition: 0.5s;
}

td .btn_tables_editar,
td .btn_tables_eliminar{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.330);
    border: 1px solid;
    transition: 0.2s;
}

td .btn_tables_editar{
    border: 1px solid rgba(0, 82, 175);
    color: rgb(0, 82, 175);
}

td .btn_tables_estado{
    border-radius: 0;
    font-size: 13px;
    color: #000;
    transition: 0.3s;
}

td .btn_tables_estado:hover{
    font-weight: bold;
    transition: 0.2s;
}

td .btn_tables_editar:hover,
td .btn_tables_eliminar:hover {
    border-radius: 0;
    box-shadow: -2px -2px 7px rgba(0, 0, 0, 0.500);
    transition: 0.2s;
}

#table_matriz{
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.185);
}

.btn_agregar{
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.437);
    transition: 0.2s;
}

.btn_agregar:hover{
    box-shadow: -3px -3px 2px rgba(0, 0, 0, 0.437);
    background-color: #198754;
    transition: 0.2s;
}

label,
div .form-check,
div .btns {
    margin-top: 1.5em;
}

.form-check-label {
    margin-top: 0em;
}

.input-group input,
.input-group select,
.borderless_hallazgos {
    border-radius: 0;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.input-group textarea{
    border-left: 0px;
}

.border_hallazgos{
    border-radius: 0;
    border: 1px solid rgba(128, 128, 128, 0.432);
    border-right: 0px;
}

.form_hallazgos label, .form_hallazgos_cambio label{
    margin-top: 2.5em;
}

.form_hallazgos .label_responsable{
    margin-top: 0em;
}

div .check_responsable{
    margin-left: 1em;
    margin-top: 0em;
}

.card {
    box-shadow: -2px -2px 25px rgba(0, 0, 0, 0.205);
}

.card_login{
    box-shadow: 0px 0px 0px;
    border: 0px;
}

.card_dashboard{
    background-color: rgba(138, 138, 138, 0.205);
    border: 4px solid rgba(97, 97, 97, 0.11);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301), -2px -2px 5px rgba(0, 0, 0, 0.301);
}

.card_hallazgos{
    background-color: rgba(255, 255, 255, 0.055);
}

#table_matriz{
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
}

.container_login{
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.120), 2px -2px 5px rgba(128, 128, 128, 0.120);
}

.container_dashboard{
    margin-top: -4em;
}

.container_form{
    box-shadow: -2px -2px 25px rgba(0, 0, 0, 0.164);
}

.input-group input:focus {
    border-bottom: 2px solid rgb(62, 109, 196);
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.body_foto{
    background-color: rgba(255, 255, 255);
}

.card_fotos{
    background-color: rgba(0, 0, 0, 0.178);
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.199);
    margin-top: 1.2em;
}

.foto_hallazgo{
    height: 400px;
    box-shadow: 2px 2px 5px rgba(64, 83, 117, 0.322);
}

form .error{
    color: rgb(211, 0, 0);
    width: 100%;
    margin-top: 0;
}

.ctnr_message{
    margin-top: 3em;
}

.title_login{
    background-color: rgb(33, 38, 44);
    margin-top: 1.5em;
    border-radius: 10px;
}

.border_answer{
    border: 2px solid red;
}

.a_dates{
    color: #000;
}

.a_dates:hover{
    color: #000;
    text-decoration: none;
}