<div class="input-group col-md-5 mx-auto">
    <span class="input-group-text bg-transparent borderless_hallazgos IconChartPrioridades">
        <i class="fas fa-chart-pie fa-fw"></i>
    </span>
    <select class="custom-select rounded-0" id="ChartType">
        <option disabled selected>Seleccione un tipo de gráfico</option>
        <option value="line">Por líneas (predeterminado)</option>
        <option value="bar">Por barras</option>
        <option value="doughnut">En forma de dona</option>
        <option value="pie">En forma de tarta</option>
    </select>
</div>
<br>