<script>
    // Once DOM is ready it will execute the code...
    $(document).ready(function () {

        jQuery.validator.addMethod("notEqual", function(value, element, param){
            return this.optional(element) || value != $(param).val();
        }, "El nombre de la persona y el nombre de usuario no pueden ser iguales.");

        // Validate usuarios form
        $("form[name='form_usuario']").validate({
            rules: {
                nombre_persona: "required",
                nombre_usuario: {
                    required: true,
                    notEqual: "#nombre_persona"
                },
                rol: "required",
                password: "required",
                confirm_pwd: {
                    equalTo: "#password"
                }
            },
            messages: {
                nombre_persona: "Por favor ingresa tu nombre",
                nombre_usuario: {
                    required: "Por favor ingresa tu nombre de usuario",
                    notEqual: "El nombre de la persona y el nombre del usuario no pueden ser iguales."
                },
                rol: "",
                password: "Ingresa una contraseña",
                confirm_pwd: "Ingresa nuevamente tu contraseña"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

        // Validate sedes form
        $("form[name='form_sede']").validate({
                rules: {
                    nombre_sede: "required"
                },
                messages: {
                    nombre_sede: "Por favor ingresa el nombre de una sede"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate areas form
        $("form[name='form_area']").validate({
                rules: {
                    nombre_area: "required"
                },
                messages: {
                    nombre_area: "Por favor ingresa el nombre de una área"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate log in form
        $("form[name='form_login']").validate({
                rules: {
                    nombre_usuario: "required",
                    password: "required"
                },
                messages: {
                    nombre_usuario: "Por favor ingresa tu nombre de usuario",
                    password: "Ingresa tu contraseña de usuario"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_tipo']").validate({
                rules: {
                    nombre_tipo: "required"
                },
                messages: {
                    nombre_tipo: "Por favor ingresa el nombre de un tipo de hallazgo"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate responsables form
        $("form[name='form_responsable']").validate({
                rules: {
                    nombre_responsable: "required"
                },
                messages: {
                    nombre_responsable: "Por favor ingresa el nombre del responsable"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_fuente']").validate({
                rules: {
                    nombre_fuente: "required"
                },
                messages: {
                    nombre_fuente: "Por favor ingresa el nombre de una fuente"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_factor']").validate({
                rules: {
                    nombre_factor: "required"
                },
                messages: {
                    nombre_factor: "Por favor ingresa el nombre de un factor de riesgo"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_prioridad']").validate({
                rules: {
                    nombre_prioridad: "required"
                },
                messages: {
                    nombre_prioridad: "Por favor ingresa el nombre de una prioridad"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_estado']").validate({
                rules: {
                    nombre_estado: "required",
                    color_estado: "required"
                },
                messages: {
                    nombre_estado: "Por favor ingresa el nombre de un estado",
                    color_estado: "Por favor selecciona un color"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate hallazgos form
        $("form[name='form_hallazgos']").validate({
            rules: {
                nombre_hallazgo: "required",
                sede: "required",
                area: "required",
                lugar_hallazgo: "required",
                responsable: {
                    required: true,
                    minlength: 1
                },
                descripcion: "required",
                tipo_hallazgo: "required",
                fuente: "required",
                factor_riesgo: "required",
                prioridad: "required",
                estado: "required",
                plan_sugerido: "required",
                fecha: "required",
                fecha_ejecucion: "required",
                registro_fotografico: {
                    required: true,
                    accept: "image/*"
                }
            },
            messages: {
                nombre_hallazgo: "Ingresa el nombre del hallazgo",
                sede: "",
                area: "",
                lugar_hallazgo: "Añade el lugar exacto del hallazgo",
                responsable: {
                    required: "Escoge por lo menos a 1 responsable",
                    minlength: "Escoge por lo menos a 1 responsable"
                },
                descripcion: "Añada una descripción",
                tipo_hallazgo: "",
                fuente: "",
                factor_riesgo: "",
                prioridad: "",
                estado: "",
                plan_sugerido: "Añada un plan de acción",
                fecha: "Por favor escoja una fecha",
                fecha_ejecucion: "Por favor escoja una fecha de ejecución",
                registro_fotografico: {
                    required: "Escoge por lo menos 1 imagen",
                    accept: "Escoge solo archivos que sean imágenes"
                }
            },
            submitHandler: function (form){
                form.submit();
            }
        });

        // Validate hallazgos form edit
        $("form[name='form_hallazgos_edit']").validate({
            rules: {
                sede: "required",
                area: "required",
                lugar_hallazgo: "required",
                responsable: {
                    required: true,
                    minlength: 1
                },
                descripcion: "required",
                tipo_hallazgo: "required",
                fuente: "required",
                factor_riesgo: "required",
                prioridad: "required",
                estado: "required",
                plan_sugerido: "required",
                fecha: "required",
                fecha_ejecucion: "required",
                registro_fotografico: {
                    accept: "image/*"
                }
            },
            messages: {
                sede: "",
                area: "",
                lugar_hallazgo: "Añade el lugar exacto del hallazgo",
                responsable: {
                    required: "Escoge por lo menos a 1 responsable",
                    minlength: "Escoge por lo menos a 1 responsable"
                },
                descripcion: "Añada una descripción",
                tipo_hallazgo: "",
                fuente: "",
                factor_riesgo: "",
                prioridad: "",
                estado: "",
                plan_sugerido: "Añada un plan de acción",
                fecha: "Por favor escoja una fecha",
                fecha_ejecucion: "Por favor escoja una fecha de ejecución",
                registro_fotografico: {
                    accept: "Escoge solo archivos que sean imágenes"
                }
            },
            submitHandler: function (form){
                form.submit();
            }
        });

        // Show or hide password field/s
        $("#toggle").change(function () {
            if ($(this).is(':checked')) {
                $("#password").attr("type", "text");
                $("#confirm_pwd").attr("type", "text");
            } else {
                $("#password").attr("type", "password");
                $("#confirm_pwd").attr("type", "password");
            }
        });

        bsCustomFileInput.init();
    });

    // Verify if 2 passwords match in the same form
    $('#password, #confirm_pwd').on('keyup', function () {
        if ($('#password').val() == $('#confirm_pwd').val()) {
            $('#message').html('Las contraseñas coinciden').css('color', 'green');
        } else
            $('#message').html('Las contraseñas no coinciden').css('color', 'red');
    });

    // Make text lowercase and without blank spaces in 'nombre_usuario' input
    $('#nombre_usuario').keyup(function () {
        $(this).val($(this).val().toLowerCase());
    });
    $('#nombre_usuario').bind('input', function () {
        $(this).val(function (_, v) {
            return v.replace(/\s+/g, '');
        });
    });

    // Add timeout to the alert messages
    $('#alert_success').fadeTo(3500, 500).slideUp(500, function(){
        $("#alert_success").slideUp(500);
    });
    $('#alert_danger').fadeTo(3500, 500).slideUp(500, function(){
        $("#alert_danger").slideUp(500);
    });

    // Add styles when the side menu opens
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    // Add styles when the side menu closes
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    $(function () {
        // Activate all tooltips
        $('[data-toggle="tooltip"]').tooltip();
        // Pick date
        $('.calendario').flatpickr({
            time_24hr: true,
            altInput: true,
            altFormat: "l - F j, Y",
            dateFormat: "Y-m-d H:i",
            defaultDate: new Date(),
            wrap: true,
            locale: "es"
        });
        $('.calendario_edit').flatpickr({
            enableTime: true,
            time_24hr: true,
            altInput: true,
            altFormat: "l - F j, Y",
            dateFormat: "Y-m-d",
            wrap: true,
            locale: "es"
        });
        $('.calendario_cambio').flatpickr({
            altInput: true,
            altFormat: "l - F j, Y",
            dateFormat: "Y-m-d",
            wrap: true,
            locale: "es"
        });
    });

    // DYNAMIC QUERY sedes-areas
    $(document).ready(function(){

    $('input#new_registro_fotografico').change(function(){
       var files = $(this)[0].files;
       var ImgTotal = document.getElementById('ImgValue').value;
       var IntImgTotal = parseInt(ImgTotal);
       var TotalSumImg = IntImgTotal + files.length;
       if(TotalSumImg > 10){
            $('#TextNoNewImg').append("<br><p class='text-danger text-center'><i class='fas fa-times-circle fa-fw'></i>El hallazgo no puede quedar con <strong>" + TotalSumImg + "</strong> registros fotográficos.</p>");
            $('#btn_no_agregar').append("<button type='submit' class='btn btn-outline-success rounded-0' title='No es posible enviar las imagenes elegidas' data-toggle='tooltip' disabled>Subir registro/s</button>");
            $('#btn_agregar').empty();
            $('#TextNewImg').empty();
       }else if(TotalSumImg <= 10 && files.length >= 1){
            $('#btn_agregar').append("<button type='submit' class='btn btn-outline-success rounded-0'>Subir registro/s</button>");
            $('#TextNewImg').append("<br><p class='text-success text-center'><i class='fas fa-check-circle fa-fw'></i>Listo para subir <br> <strong>Número final de imagenes en el hallazgo:</strong> " + TotalSumImg + "</p>");
            $('#btn_no_agregar').empty();
            $('#TextNoNewImg').empty();
       }
    });

    $('#sede').change(function(){
        var item = $('#sede').val();

        $.ajax({
            type:'GET',
            data: { id_sede: item },
            url:'/form_hallazgos/sede',
            success: function(data){
                console.log(data);
                $('#area').empty();
                $('area').append("<option disabled selected>Seleccione un área</option>");
                $.each(data, function(index, areaObj){
                    $('#area').append("<option value='" + areaObj.nombre_area + "' > " + areaObj.nombre_area + " </option> ");
                });
            }
        });
    });
    });
    
    // Change DataTables JQuery language:
    $(document).ready(function() {
        $('#table_matriz').DataTable( {
            "autoWidth": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal( {
                        header: function ( row ) {
                            var data = row.data();
                            return "<h2 class='text-center'><span class='badge badge-secondary'>Detalles</span></h2>";
                        }
                    } ),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                        tableClass: 'table'
                    } )
                }
            },
            "language":{
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        } );
        $('#table_matriz').on("draw.dt", function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    } );
</script>