<script>
    // Once DOM is ready it will execute the code...
    $(document).ready(function () {

        jQuery.validator.addMethod("notEqual", function(value, element, param){
            return this.optional(element) || value != $(param).val();
        }, "El nombre de la persona y el nombre de usuario no pueden ser iguales.");

        // Validate usuarios form
        $("form[name='form_usuario']").validate({
            rules: {
                nombre_persona: "required",
                nombre_usuario: {
                    required: true,
                    notEqual: "#nombre_persona"
                },
                rol: "required",
                password: "required",
                confirm_pwd: {
                    equalTo: "#password"
                }
            },
            messages: {
                nombre_persona: "Por favor ingresa tu nombre",
                nombre_usuario: {
                    required: "Por favor ingresa tu nombre de usuario",
                    notEqual: "El nombre de la persona y el nombre del usuario no pueden ser iguales."
                },
                rol: "",
                password: "Ingresa una contraseña",
                confirm_pwd: "Ingresa nuevamente tu contraseña"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

        // Validate sedes form
        $("form[name='form_sede']").validate({
                rules: {
                    nombre_sede: "required"
                },
                messages: {
                    nombre_sede: "Por favor ingresa el nombre de una sede"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate areas form
        $("form[name='form_area']").validate({
                rules: {
                    nombre_area: "required"
                },
                messages: {
                    nombre_area: "Por favor ingresa el nombre de una área"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate log in form
        $("form[name='form_login']").validate({
                rules: {
                    nombre_usuario: "required",
                    password: "required"
                },
                messages: {
                    nombre_usuario: "Por favor ingresa tu nombre de usuario",
                    password: "Ingresa tu contraseña de usuario"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_tipo']").validate({
                rules: {
                    nombre_tipo: "required"
                },
                messages: {
                    nombre_tipo: "Por favor ingresa el nombre de un tipo de hallazgo"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate responsables form
        $("form[name='form_responsable']").validate({
                rules: {
                    nombre_responsable: "required"
                },
                messages: {
                    nombre_responsable: "Por favor ingresa el nombre del responsable"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_fuente']").validate({
                rules: {
                    nombre_fuente: "required"
                },
                messages: {
                    nombre_fuente: "Por favor ingresa el nombre de una fuente"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_factor']").validate({
                rules: {
                    nombre_factor: "required"
                },
                messages: {
                    nombre_factor: "Por favor ingresa el nombre de un factor de riesgo"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_prioridad']").validate({
                rules: {
                    nombre_prioridad: "required"
                },
                messages: {
                    nombre_prioridad: "Por favor ingresa el nombre de una prioridad"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate tipos de hallazgo form
        $("form[name='form_estado']").validate({
                rules: {
                    nombre_estado: "required",
                    color_estado: "required"
                },
                messages: {
                    nombre_estado: "Por favor ingresa el nombre de un estado",
                    color_estado: "Por favor selecciona un color"
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

        // Validate hallazgos form
        $("form[name='form_hallazgos']").validate({
            rules: {
                nombre_hallazgo: "required",
                sede: "required",
                area: "required",
                lugar_hallazgo: "required",
                responsable: {
                    required: true,
                    minlength: 1
                },
                descripcion: "required",
                tipo_hallazgo: "required",
                fuente: "required",
                factor_riesgo: "required",
                prioridad: "required",
                estado: "required",
                plan_sugerido: "required",
                fecha: "required",
                fecha_ejecucion: "required",
                registro_fotografico: {
                    required: true,
                    accept: "image/*"
                }
            },
            messages: {
                nombre_hallazgo: "Ingresa el nombre del hallazgo",
                sede: "",
                area: "",
                lugar_hallazgo: "Añade el lugar exacto del hallazgo",
                responsable: {
                    required: "Escoge por lo menos a 1 responsable",
                    minlength: "Escoge por lo menos a 1 responsable"
                },
                descripcion: "Añada una descripción",
                tipo_hallazgo: "",
                fuente: "",
                factor_riesgo: "",
                prioridad: "",
                estado: "",
                plan_sugerido: "Añada un plan de acción",
                fecha: "Por favor escoja una fecha",
                fecha_ejecucion: "Por favor escoja una fecha de ejecución",
                registro_fotografico: {
                    required: "Escoge por lo menos 1 imagen",
                    accept: "Escoge solo archivos que sean imágenes"
                }
            },
            submitHandler: function (form){
                form.submit();
            }
        });

        // Validate hallazgos form edit
        $("form[name='form_hallazgos_edit']").validate({
            rules: {
                sede: "required",
                area: "required",
                lugar_hallazgo: "required",
                responsable: {
                    required: true,
                    minlength: 1
                },
                descripcion: "required",
                tipo_hallazgo: "required",
                fuente: "required",
                factor_riesgo: "required",
                prioridad: "required",
                estado: "required",
                plan_sugerido: "required",
                fecha: "required",
                fecha_ejecucion: "required",
                registro_fotografico: {
                    accept: "image/*"
                }
            },
            messages: {
                sede: "",
                area: "",
                lugar_hallazgo: "Añade el lugar exacto del hallazgo",
                responsable: {
                    required: "Escoge por lo menos a 1 responsable",
                    minlength: "Escoge por lo menos a 1 responsable"
                },
                descripcion: "Añada una descripción",
                tipo_hallazgo: "",
                fuente: "",
                factor_riesgo: "",
                prioridad: "",
                estado: "",
                plan_sugerido: "Añada un plan de acción",
                fecha: "Por favor escoja una fecha",
                fecha_ejecucion: "Por favor escoja una fecha de ejecución",
                registro_fotografico: {
                    accept: "Escoge solo archivos que sean imágenes"
                }
            },
            submitHandler: function (form){
                form.submit();
            }
        });

        // Validar formulario de cambio de estado
        $("form[name='form_cambio_estado']").validate({
            rules: {
                nuevo_estado: "required",
                razon_cambio: "required",
                registro_fotografico_cambio: {
                    accept: "image/*"
                }
            },
            messages: {
                nuevo_estado: "Por favor seleccione el nuevo estado del hallazgo",
                razon_cambio: "Ingrese la razón por la que desea realizar el cambio de estado",
                registro_fotografico_cambio: {
                    accept: "Escoge solo archivos que sean imagenes"
                }
            },
            submitHandler: function (form){
                form.submit();
            }
        });

        // Validar formulario de nuevo registro fotográfico
        $("form[name='new_registro_img']").validate({
            rules: {
                new_registro_fotografico: {
                    required: true,
                    accept: "image/*"
                }
            },
            messages: {
                new_registro_fotografico: {
                    required: "Escoge por lo menos 1 imagen",
                    accept: "Escoge solo archivos que sean imagenes"
                }
            },
            submitHandler: function (form){
                form.submit();
            }
        });

        // Validar formulario de nuevas imagenes en cambio de estado
        $("form[name='form_img_cambio']").validate({
            rules: {
                new_registro_fotografico_cambio: {
                    required: true,
                    accept: "image/*"
                }
            },
            messages: {
                new_registro_fotografico_cambio: {
                    required: "Escoge por lo menos 1 imagen",
                    accept: "Escoge solo archivos que sean imagenes"
                }
            },
            submitHandler: function (form){
                form.submit();
            }
        }); 

        // Show or hide password field/s
        $("#toggle").change(function () {
            if ($(this).is(':checked')) {
                $("#password").attr("type", "text");
                $("#confirm_pwd").attr("type", "text");
            } else {
                $("#password").attr("type", "password");
                $("#confirm_pwd").attr("type", "password");
            }
        });
    });


    // Verify if 2 passwords match in the same form
    $('#password, #confirm_pwd').on('keyup', function () {
        if ($('#password').val() == $('#confirm_pwd').val()) {
            $('#message').html('Las contraseñas coinciden').css('color', 'green');
        } else
            $('#message').html('Las contraseñas no coinciden').css('color', 'red');
    });

    // Make text lowercase and without blank spaces in 'nombre_usuario' input
    $('#nombre_usuario').keyup(function () {
        $(this).val($(this).val().toLowerCase());
    });
    $('#nombre_usuario').bind('input', function () {
        $(this).val(function (_, v) {
            return v.replace(/\s+/g, '');
        });
    });

    // Add timeout to the alert messages
    $('#alert_success').fadeTo(3500, 500).slideUp(500, function(){
        $("#alert_success").slideUp(500);
    });
    $('#alert_danger').fadeTo(3500, 500).slideUp(500, function(){
        $("#alert_danger").slideUp(500);
    });

    // Add styles when the side menu opens
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    // Add styles when the side menu closes
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    $(function () {
        // Activate all tooltips
        $('[data-toggle="tooltip"]').tooltip();
        // Pick date
        $('.calendario').flatpickr({
            time_24hr: true,
            altInput: true,
            altFormat: "l - F j, Y",
            dateFormat: "Y-m-d H:i",
            defaultDate: new Date(),
            wrap: true,
            locale: "es"
        });
        $('.calendario_edit_realizacion').flatpickr({
            time_24hr: true,
            altInput: true,
            altFormat: "l - F j, Y",
            dateFormat: "Y-m-d H:i",
            wrap: true,
            locale: "es"
        });
        $('.calendario_edit_ejecucion').flatpickr({
            time_24hr: true,
            altInput: true,
            altFormat: "l - F j, Y",
            dateFormat: "Y-m-d H:i",
            wrap: true,
            locale: "es"
        });
        $('.calendario_cambio').flatpickr({
            altInput: true,
            altFormat: "l - F j, Y",
            dateFormat: "Y-m-d",
            wrap: true,
            locale: "es"
        });
    });

    // DYNAMIC QUERIES
    $(document).ready(function(){

        // VALIDATE WHEN UPLOADING NEW IMAGES
        $('input#new_registro_fotografico').change(function(){
        var files = $(this)[0].files;
        var ImgTotal = document.getElementById('ImgValue').value;
        var IntImgTotal = parseInt(ImgTotal);
        var TotalSumImg = IntImgTotal + files.length;
        if(TotalSumImg > 10){
                $('#BtnAddNewImg').prop('disabled', true);
                $('#BtnAddNewImg').attr('title', 'No puedes añadir al hallazgo demasiados registros.');
                $('#TextNoNewImg').append("<br><p class='text-danger text-center'><i class='fas fa-times-circle fa-fw'></i>El hallazgo no puede quedar con <strong>" + TotalSumImg + "</strong> registros fotográficos.</p>");
                $('#TextNewImg').empty();
        }else if(TotalSumImg <= 10 && files.length >= 1){
                $('#BtnAddNewImg').prop('disabled', false);
                $('#TextNewImg').append("<br><p class='text-success text-center'><i class='fas fa-check-circle fa-fw'></i>Listo para subir <br> <strong>Número final de imagenes en el hallazgo:</strong> " + TotalSumImg + "</p>");
                $('#TextNoNewImg').empty();
            }
        });

        // VALIDATE WHEN UPLOADING IMAGES INTO A NEW 'HALLAZGO'
        $('input#registro_fotografico').change(function(){
        var files = $(this)[0].files;
        if(files.length > 10){
            $('#message_img_F').append("<p class='text-danger text-center'><i class='fas fa-times-circle fa-fw'></i>No puedes agregar más de <b>10</b> imagenes por hallazgo</p>");
            $('#message_img_T').empty();
            $('#message_info_img').empty();
            $('#enviar_form_hallazgos').prop('disabled', true);
            $('#enviar_form_hallazgos').attr('title', 'No se puede enviar el formulario. Revisa si este posee algun error en uno de sus campos.');
        }else{
            $('#message_img_T').append("<p class='text-success text-center'>Listo para subir <b>" + files.length  + "</b> registro/s</p>");
            $('#message_img_F').empty();
            $('#message_info_img').empty();
            $('#enviar_form_hallazgos').prop('disabled', false);
            $('#enviar_form_hallazgos').removeAttr('title');
           }
        });

        // VALIDAR AL SUBIR IMAGENES CUANDO SE CAMBIA EL ESTADO DE UN HALLAZGO
        $('input#registro_fotografico_cambio').change(function(){
            var files = $(this)[0].files;
            if(files.length > 5){
                $('#MessageCambioImgF').append("<p class='text-danger text-center'>No puedes agregar más de <b>5</b> imagenes al cambiar el estado de un hallazgo.</p>");
                $('#MessageInfoCambio').empty();
                $('#MessageCambioImgT').empty();
                $('#BtnAgregarCambio').prop("disabled", true);
            }else{
                $('#MessageCambioImgT').append('<p class="text-success text-center">Listo para subir <b>' + files.length + '</b> registro/s.</p>');
                $('#MessageInfoCambio').empty();
                $('#MessageCambioImgF').empty();
                $('#BtnAgregarCambio').prop("disabled", false);
            }
        });

        // VALIDAR CUANDO SE SUBEN NUEVAS IMAGENES EN LA EDICIÓN DE UN CAMBIO DE ESTADO
        $('input#new_registro_fotografico_cambio').change(function(){
            var files = $(this)[0].files;
            var ImgTotalCambio = document.getElementById('ImgValueCambio').value;
            var IntImgTotalCambio = parseInt(ImgTotalCambio);
            var TotalSumImgCambio = IntImgTotalCambio + files.length;
            if(TotalSumImgCambio > 5){
                    $('#BtnAddNewImgCambio').prop('disabled', true);
                    $('#BtnAddNewImgCambio').attr('title', 'No puedes añadir al cambio de estado demasiados registros.');
                    $('#TextNoNewImgCambio').append("<br><p class='text-danger text-center'><i class='fas fa-times-circle fa-fw'></i>El cambio de estado no puede quedar con <strong>" + TotalSumImgCambio + "</strong> registros fotográficos.</p>");
                    $('#TextNewImgCambio').empty();
            }else if(TotalSumImgCambio <= 5 && files.length >= 1){
                    $('#BtnAddNewImgCambio').prop('disabled', false);
                    $('#BtnAddNewImgCambio').removeAttr('title', '');
                    $('#TextNewImgCambio').append("<br><p class='text-success text-center'><i class='fas fa-check-circle fa-fw'></i>Listo para subir <br> <strong>Número final de imagenes en el cambio de estado:</strong> " + TotalSumImgCambio + "</p>");
                    $('#TextNoNewImgCambio').empty();
                }
        });

        /* AÑADIR CAMPOS CUANDO SE DESEA CAMBIAR EL ESTADO DE UN HALLAZGO
        $('select#cambiar_estado').change(function(){
            var item = $('select#nombre_estado_cambio').val();
            console.log(item);
            $('#textarea_cambiar').append("<label for='explicacion'>¿Por qué desea cambiar el estado del hallazgo? <b class='text-danger'>*</b></label> <div class='input-group'> <span class='input-group-text bg-transparent border_hallazgos'><i class='fas fa-question-circle'></i></span><textarea class='form-control rounded-0' rows='2' name='cambio_estado_txt' id='cambio_estado_txt' placeholder='Escribe aquí...'></textarea></div>");
            $.ajax({
                type: 'GET',
                data: { nombre_estado: item },
                url: '/table_hallazgos/estado',
                success: function(data){
                    console.log(data);
                }
            });
        });*/

        // DYNAMIC QUERY FOR 'sedes-areas'
        $('#sede').change(function(){
            var item = $('#sede').val();

            $.ajax({
                type:'GET',
                data: { id_sede: item },
                url:'/form_hallazgos/sede',
                success: function(data){
                    $('#area').empty();
                    $('area').append("<option disabled selected>Seleccione un área</option>");
                    $.each(data, function(index, areaObj){
                        $('#area').append("<option value='" + areaObj.nombre_area + "' > " + areaObj.nombre_area + " </option> ");
                    });
                }
            });
        });
    });
    
    // Change DataTables JQuery language:
    $(document).ready(function() {
        $('#table_matriz').DataTable( {
            "autoWidth": false,
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.modal( {
                        header: function ( row ) {
                            var data = row.data();
                            return "<h2 class='text-center'><span class='badge badge-secondary'>Detalles</span></h2>";
                        }
                    } ),
                    renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                        tableClass: 'table'
                    } )
                }
            },
            "language":{
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        } );
        $('#table_matriz').on("draw.dt", function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    } );
</script>